body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(236, 229, 229, 1));
    background-size: cover;
    height: 100vh;
    /* Makes the gradient fill the viewport */
    margin: 0;
    /* Removes default margins */
}

.gBtn {
    position: absolute;
    font-family: "Acme", serif;
    background-color: white;
    color: rgba(255, 13, 0, 0.8);
    border: 2px solid rgba(255, 13, 0, 0.8);
    padding: 16px 12px;
    border-radius: 8px;
    transition: all 0.5s;
    top: 15px;
    right: 80px;
}

.gBtn:hover {
    background-color: rgba(255, 13, 0, 0.8);
    color: white;
    border: 2px solid white
}

.aBtn {
    position: absolute;
    font-family: "Acme", serif;
    background-color: white;
    color: rgba(11, 162, 38, 0.8);
    border: 2px solid rgba(11, 162, 38, 0.8);
    padding: 16px 12px;
    border-radius: 8px;
    transition: all 0.5s;
    top: 15px;
    right: 255px;
}

.aBtn:hover {
    background-color: rgba(11, 162, 38, 0.8);
    color: white;
    border: 2px solid white
}

.hBtn {
    position: absolute;
    font-family: "Acme", serif;
    background-color: white;
    color: rgba(0, 89, 255, 0.8);
    border: 2px solid rgba(0, 89, 255, 0.8);
    padding: 16px 12px;
    border-radius: 8px;
    transition: all 0.5s;
    top: 15px;
    right: 170px;
}

.hBtn:hover {
    background-color: rgba(0, 89, 255, 0.8);
    color: white;
    border: 2px solid white
}

#webname {
    font-family: "Acme", serif;
    font-size: 15px;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 5px;
    left: 25px;
    border: 2px solid black;
    padding: 16px 12px;

}

.Snake {
    width: 310px;
    height: 360px;
    position: absolute;
    border: 3px solid black;
    left: 570px;
    bottom: 200px;
    transition: width 1s, height 1s, box-shadow 0.5s ease, transform 1s ease;
}

.Snake:hover {
    width: 330px;
    height: 380px;
    box-shadow: 0 0 20px rgba(77, 255, 0, 0.8);
    transform: translate(0px, 10px, );
    transform: translateX(-10px);
}

#paraS {
    width: 400px;
    height: 200px;
    text-align: justify;
    text-align: center;
    position: absolute;
    top: 130px;
    right: 510px;
    font-family: "Acme", serif;
}


.King2 {
    width: 310px;
    height: 360px;
    position: absolute;
    border: 3px solid black;
    right: 70px;
    bottom: 200px;
    transition: width 1s, height 1s, box-shadow 0.5s ease, transform 1s ease;
}

.King2:hover {
    width: 330px;
    height: 380px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    transform: translate(0px, 10px, );
    transform: translateX(-10px);
}

#paraK {
    width: 400px;
    height: 200px;
    text-align: justify;
    text-align: center;
    position: absolute;
    top: 130px;
    right: 20px;
    font-family: "Acme", serif;
}

.Demon {
    width: 310px;
    height: 360px;
    position: absolute;
    border: 3px solid black;
    left: 70px;
    bottom: 200px;
    transition: width 1s, height 1s, box-shadow 0.5s ease, transform 1s ease;
}

.Demon:hover {
    width: 330px;
    height: 380px;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.8);
    transform: translate(0px, 10px, );
    transform: translateX(-10px);
}

#paraD {
    width: 400px;
    height: 200px;
    text-align: justify;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 20px;
    font-family: "Acme", serif;
}

#heads {
    font-family: "Acme", serif;
    position: absolute;
    left: 570px;
    top: 10px;
}

#bottom {
    position: absolute;
    left: 570px;
    bottom: 30px;
    font-family: "Acme", serif;
}

#har {
    text-align: center;
}